.ChangeProfileForm{
    color:rgb(122, 118, 118);
    width:40%;
    height: 70%;
    background-color: rgb(225, 225, 238);
    border-radius: 12px;
}
.closeBtn{
    cursor: pointer;
    font-size: 22px;
    color:rgb(122, 118, 118);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border:0.5px solid rgb(122, 118, 118);
    margin: 2%;
}

.EditarPerf{
    font-weight: bold;
    margin-left: 30%;
}

.btnFormEdit{
    all:unset;
    width:20px;
    height: 20px;
    background-image: url('./img/editarIcon.png');
    background-size: 20px 20px;
    cursor: pointer;
}

.btnFormEditListo{
    all:unset;
    width:80%;
    background-position: center;
    background-image: url('./img/checkIcon.png');
    background-size: 80% 80%;
    background-repeat: no-repeat;
    cursor: pointer;
}
.btnFormEditListo:hover{
    width: 77%;
    background-size: 74% 74%;
}
.changeInptCont{
    display: grid;
    grid-template-columns: 80% 14%;
    margin-bottom: 20px;
    
}
.descChang{
    
    margin-left: 10%;
}
.btnGuarCamb{
    margin-left: 60px;
    font-size: 1.1rem;
    border-radius: 30px;
    background-color: white;
    color: black;
    cursor:pointer;
}

.asadasa{
    width: 124px;
    height: 52px;
    margin-left: 60px;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    display: -webkit-inline-box;
}