body {
    margin: 0;
    background-color:navajowhite;
}

.landing {
    overflow: hidden;
    padding-top: 4%;
    color: black;
    width: 100%;
    height: 92vh;
    background-image: url('../../public/images/fenixBlack.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    margin-top: 0%;
    margin-left: 3%;
    width: 70px;
    height: 70px;
    font-size: 37px;
    color: white;
}

.btnCreCu {
    all: unset;
    background-image: url('../../public/images/logoRedondo.png');
    color: white;
    width: 75%;
    margin: 20px;
    text-align: center;
    padding: 15px 0px 15px 0px;
    border-radius: 100px;
    font-size: 19px;
    cursor: pointer;
    border: 0.5px solid rgb(188, 220, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

.btnCreCu:hover {
    background-image: linear-gradient(to right, rgba(78, 140, 190, 0.363), rgba(83, 170, 211, 0.288), rgba(26, 93, 138, 0.349));
    color: rgb(128, 237, 245);
    text-decoration: none;
}

.landArribaCont {
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
}

@media screen and (max-width:540px) {

    /* Aplica estilos diferentes cuando la pantalla es más grande que 768px de ancho */
    .landArribaCont {
        flex-direction: row;
        /* Cambia a una disposición en fila */
        justify-content: space-between;
        /* Distribuye los elementos en el espacio disponible */
        align-items: center;
    }

    .btnCreCu {
        /* Otros estilos */

        width: 100%;
        /* Ocupa todo el ancho disponible en dispositivos pequeños */
        margin: 10px 0;
        /* Agrega margen en la parte superior e inferior para separar los botones */
    }

    .landing {
        padding-top: 19%;
        height: 40vh;
        background-image: url('../../public/images/fenixBlack.png');
        background-size: auto;
    }

}